.container_socialLinks {
  display: flex;
  gap: 12px;
}

.title_socialLinks {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 3.5px;
}

.box_icons_socialLinks {
  display: flex;
  gap: 7px;
}
