.info_team {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  width: 1046px;
  padding: 25px 0 10px;
}

.container_ceo {
  display: flex;
  gap: 42px;
  padding-top: 10px;
}

.box_ceo_team {
  display: flex;
  flex-direction: column;
}

.img_ceo_team {
  padding-bottom: 10px;
}

.img_ceo_title_team {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 4px;
}

.img_ceo_sub-title_team {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-top: 4px;
}
