.animationInfo_container {
  height: 824px;
  background-color: #fffdf9;
  position: relative;
  z-index: 10;
}

.animationInfo_container::before {
  content: "";
  background-image: url("@assets/animationInfo_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 824px;
  position: absolute;
  width: 35%;
  position: absolute;
  -webkit-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
  -o-transition: width 1s ease-out;
  transition: width 1s ease-out;
}

.animationInfo_container:hover::before {
  width: 100%;
}

.animationInfo_box {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 47%;
  top: 169px;
  right: 150px;
}

.animationInfo_desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #18161a;
  width: 80%;
  margin: 29px 0 19px;
}

.animationInfo_socialLinks {
  position: absolute;
  right: 23px;
  bottom: 12px;
}

.animationInfo_box_heading_1 {
  display: flex;
}
