.header_container {
  background-color: #18161a;
  height: 76px;
}

.header_nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 1587px;
  margin: 0 auto;
}

.header_logo_link {
  color: #fffdf9;
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  position: relative;
}

.header_list {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.header_list_element_link {
  color: #fffdf9;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_logo_link_circle {
  background: #fdbd21;
  border-radius: 50%;
  bottom: 8px;
  height: 5px;
  position: absolute;
  right: -7px;
  width: 5px;
}

.header_list_element_link:hover {
  color: #fdbd21;
}

.header_list_element_phone_link {
  color: #fffdf9;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
