.footer_container {
  background-color: #18161a;
  color: #fffcf7;
}

.box_info_footer a,
span {
  color: #fffcf7;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.layout_footer {
  max-width: 1587px;
  margin: 0 auto;
}

.box_form_footer {
  border-bottom: 1px solid #898883;
  padding: 50px 65px 40px;
}

.box_contacts_footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 65px 35px;
}

.box_logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box_info_footer {
  display: flex;
  gap: 100px;
}

.adress_info_footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.adress_tel_footer {
  font-weight: 800;
}

.legal_adress_info_footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box_info_left_footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box_info_right_footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
