.footer_container {
  background-color: #18161a;
  height: 500px;
  color: #fffcf7;
}

.layout_footer {
  max-width: 1587px;
  margin: 0 auto;
  padding: 0px 0 27px;
}

.box_form_footer {
  border-bottom: 1px solid #898883;
  padding: 50px 65px 40px;
}

.box_contacts_footer {
  padding: 40px 65px 0;
}

.box_logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
