.element_slider_box {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;

  @media (max-width: 479px) {
    flex-direction: column;
  }

  @media (max-width: 359px) {
  }
}
